body {
  font-family: 'Franklin Gothic Medium', sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3d3d5e;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}